<mat-horizontal-stepper>
  <mat-step label="Select run configration" state="phone">
    <mat-form-field appearance="fill">
      <mat-label>Biometric type</mat-label>
      <mat-select [(ngModel)]="selectedBiometricType" (selectionChange)='OnBiometricSelect($event)' name="sel2">
        <mat-option *ngFor="let obj of masterData.biometricType;" [value]="obj ">{{obj.type}}</mat-option>
      </mat-select>
    </mat-form-field>

    <br/>
    <mat-form-field appearance="fill">
      <mat-label>Device type</mat-label>
      <mat-select [(ngModel)]="selectedDeviceType">
        <mat-option *ngFor="let obj of deviceTypes;" [value]="obj">{{obj}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>MDS version</mat-label>
      <mat-select [(ngModel)]="selectedMdsVersion">
        <mat-option class="option" *ngFor="let obj of masterData.mdsSpecificationVersion;" [value]="obj ">{{obj}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>Process</mat-label>
      <mat-select [(ngModel)]="selectedProcess">
        <mat-option class="option" *ngFor="let obj of masterData.process;" [value]="obj ">{{obj}}</mat-option>
      </mat-select>
    </mat-form-field><br/>
    <br/>
    <button mat-raised-button matStepperNext
            (click)="OnGetTestsClicked()">
      Get Tests
    </button>
  </mat-step>
  <mat-step label="Select tests" state="chat">
    <mat-selection-list #test_list [(ngModel)]="selectedTests">
      <mat-list-option *ngFor="let test of tests" [value]="test.testId">
        {{test.testId}}
      </mat-list-option>
    </mat-selection-list>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="description">
    <mat-form-field class="example-full-width" *ngIf="selectedTests.length">
    <mat-label>Email</mat-label>
    <input [(ngModel)]="email" matInput placeholder="abc@gmail.com">
  </mat-form-field>
    <br/>
    <mat-form-field class="example-full-width" *ngIf="selectedTests.length">
      <mat-label>Run Name/Description</mat-label>
      <input [(ngModel)]="runName" matInput placeholder="For fingerprint device">
    </mat-form-field>
    <br/>
    <button mat-raised-button (click)="OnCreateRunClicked()" *ngIf="selectedTests.length">
      Create Run
    </button>
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-horizontal-stepper>

