<!--<mat-form-field class="example-full-width">-->
<!--  <mat-label>Port Number</mat-label>-->
<!--  <input #port matInput placeholder="4200" type="number">-->
<!--</mat-form-field>-->
<!--<button mat-stroked-button color="primary" (click)="discover(port.value)">Discover</button>-->
<!--<button mat-stroked-button color="primary" (click)="getInfo(port.value)">Get Info</button>-->
  

<form class="example-form">
  <mat-form-field class="example-full-width invisible">
    <mat-label>SBI Host URL</mat-label>
    <input #host matInput placeholder="http://127.0.0.1" value="http://127.0.0.1">
  </mat-form-field>

<br/>

  	<button mat-stroked-button color="primary" (click)="scanSync(host.value)">Scan
	<mat-icon *ngIf="scanning"><mat-spinner color="accent" diameter="20">
 	</mat-spinner></mat-icon></button>
</form>

<br/>


<!--<pre>{{discoveryResponse | json}}</pre>-->
<!--<pre>{{infoResponse | json}}</pre>-->

<mat-form-field appearance="fill">
  <mat-label>Available Ports</mat-label>
  <mat-select (selectionChange)='OnPortSelect($event.value)'>
    <mat-option *ngFor="let port of availablePorts" [value]="port">
      {{port}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br/>

<mat-accordion *ngIf="devices.length">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>Output</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-tab-group dynamicHeight>
      <mat-tab>
        <pre>{{devices | json}}</pre>      
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</mat-accordion>

<!-- <div *ngIf="devices.length">
  <pre>{{devices | json}}</pre>
</div> -->
