.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 18px;
}

.example-full-width {
  width: 100%;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}


:host ::ng-deep .mat-tab-body-wrapper {
  min-height: 150px;

}

:host ::ng-deep .mat-tab-body.mat-tab-body-active {
  min-height: 150px;

}

.Passed{color: green;}
.Failed{color: red;}

.centereddiv {
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

#video {
    border: 5px solid transparent;
    background-color: #000000;
}
