<div *ngIf="!testReportObject || Object.keys(testReportObject.testReport).length === 0" style="padding: 1%;">
  <app-discover-devices></app-discover-devices>

  <br/>

  <mat-form-field appearance="fill">
    <mat-label>Available Ports</mat-label>
    <mat-select (selectionChange)='OnPortSelect($event.value)'>
      <mat-option *ngFor="let port of availablePorts" [value]="port">
        {{port}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Device</mat-label>
    <mat-select [(ngModel)]="selectedDevice">
      <mat-option *ngFor="let obj of devices;" [value]="obj">{{'Purpose[' + obj.purpose + '] - BiometricDeviceType[' + obj.digitalIdDecoded.type + '] - DeviceSubType[' + obj.digitalIdDecoded.deviceSubType + ']' + ' - DeviceId[' + obj.deviceId+ ']'}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button
          (click)="onRunClicked()">
    RUN
  </button>
</div>
<br/>


<!--Form Ends-->
<div style="padding: 1%;">
<mat-accordion *ngIf="testReportObject">
  <div *ngFor="let key1 of objectKeys(testReportObject.testReportKey)"> 
    <mat-expansion-panel *ngFor="let key of objectKeys(testReportObject.testReportKey[key1])">
     <mat-expansion-panel-header>
      <mat-panel-title>
        {{key}}
      </mat-panel-title>
      <mat-panel-description>
        {{testReportObject.testReport[key].currentState}}
       <!-- {{ getPassedValidators(testReportObject.testReport[key].validationResults) }}-->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-tab-group dynamicHeight>
      <mat-tab label="Description">
        <p *ngIf="testReportObject.testReport[key].summary">
         <b>Summary</b> : {{testReportObject.testReport[key].summary}}
        </p>
        <br/>
        <p><b>ExecutedOn</b> : {{testReportObject.testReport[key].executedOn | date: 'full'}}</p>
      </mat-tab>

      <mat-tab label="Request">

          <div class="centereddiv" *ngIf="isRcapture(testReportObject.testReport[key].requestData)">
            <!--<img #stream [id]="getStreamImgTagId(key)" width="200" height="200" alt="stream video feed"
                 style="background-color: #000000;" border="1">-->
            <!--<mat-video [id]="getStreamImgTagId(key)" width="200" height="200" ></mat-video>-->
            <!--<img #stream [id]="getStreamImgTagId(key)" width="200" height="200" alt="stream video feed"
                 style="background-color: #000000;" border="1" >-->
            <!--<video #stream id="test-id" width="200" height="200" ></video>-->
           <!-- <img [id]="getStreamImgTagId(key)" [src]="imageToShow"
                 alt="STREAMING ..."
                 *ngIf="!isImageLoading; else noImageFound">
            <ng-template #noImageFound>
              <img src="fallbackImage.png" alt="Fallbackimage">
            </ng-template>-->
            <img #stream [id]="getStreamImgTagId(key)" width="200" height="200" alt="Start Streaming to Display" border="1">
          </div>

          <div class="centereddiv" >

            <!-- <button *ngIf="isStreamRequired(key)" mat-raised-button (click)="startStreaming(key)">Start Streaming</button> -->
            <button *ngIf="isRcapture(testReportObject.testReport[key].requestData)" mat-raised-button (click)="streamingStart(key,testReportObject.testReport[key].requestData)">Start Streaming</button>

            <button mat-raised-button (click)="getMDSResponse(testReportObject.testReport[key].requestData,
            testReportObject.testReport[key].runId, key)" [class.spinner]="loading" [disabled]="loading">
              {{getButtonName(testReportObject.testReport[key].requestData)}}</button>

              <button name="testId" ngDefaultControl [(ngModel)]="testId" mat-raised-button (click)="openUINDialog(testReportObject,key)">Enter UIN & Authenticate</button>
  
            <!-- <button *ngIf="isCapture(testReportObject.testReport[key].requestData)" mat-raised-button (click)="startAuthTest(key)"
                    [class.spinner]="authloading" [disabled]="authloading">Test Authentication</button> -->

          </div>

        <pre>{{JSON.parse(testReportObject.testReport[key].requestData) | json}}</pre>

      </mat-tab>
      <mat-tab label="Response">
           <pre>{{JSON.parse(testReportObject.testReport[key].responseData) | json}}</pre>
      </mat-tab>
      <mat-tab label="Validation Result">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let result of testReportObject.testReport[key].validationResults">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span *ngIf="result.status == 'Passed'" class="material-icons" style="margin-right: 24px;color: green;">done</span>
                <span *ngIf="result.status == 'Failed' || result.status == 'InternalException'" class="material-icons" style="margin-right: 24px;color: red;">highlight_off</span>
                <span *ngIf="result.status == 'Pending'" class="material-icons" style="margin-right: 24px;color: yellow;">hourglass_full</span>
                {{result.validationName}}
              </mat-panel-title>
              <mat-panel-description>
                {{result.validationDescription}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <pre *ngIf="result.validationTestResultDtos">{{ result.validationTestResultDtos | json}}</pre>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
      <mat-tab label="Result">
        <div class="centereddiv" >
        <button mat-raised-button (click)="download(testReportObject.testReport[key].runId, key)" [class.spinner]="loading" [disabled]="loading">
          Download</button>
        </div>
        <!-- <div [innerHTML]="getSanitizedSafeURLResource(testReportObject.testReport[key].renderContent)"></div> -->
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</div>
</mat-accordion>
</div>
